numpy >= 1.16.5, <1.21.5
scipy >= 1.7.3, <1.8.0
Pillow >= 8.3.2, <8.4.0
grpcio >= 1.29.0, <1.30.0rc1
requests >= 2.18.0, <3.0.0dev
google-auth >= 1.35, <2.0.0
google-cloud-texttospeech >= 1.0.1, <2.0.0
google-cloud-speech >= 1.3.2, <2.0.0
google-cloud-logging >= 1.15.1, <2.0.0
google-api-python-client >= 2.33.0, <3
pyusb != 1.2.0, >=1.0.2
adafruit-circuitpython-rfm69 >= 2.1.6, <3
marshmallow_dataclass >= 8.5.3, <9
psutil >= 5.8.0, <6
pyaudio >= 0.2.11, <0.3
pyautogui >= 0.9.53, <1
PyYAML >= 6.0, <7
RPi.GPIO >= 0.7.0, <0.8
simpleaudio >= 1.0.4, <1.1
twill >= 3.0.1, <4
vosk >= 0.3.32, <0.4
pyinstaller >= 4.2, <4.4